
HF_TOKEN=

HF_EMBEDDING_MODEL=
HF_EMBEDDING_DIM=

HF_CHAT_MODEL=
HF_CHAT_MODEL_FALLBACK=


GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_MODEL_FALLBACK=



GEMINI_THINKING_LEVEL=

GEMINI_THINKING_HEADROOM_TOKENS=

GROQ_API_KEY=
GROQ_API_BASE=
GROQ_MODEL=
GROQ_MODEL_FALLBACK=

LLM_PROVIDER_ORDER=

CIRCUIT_FAILURE_THRESHOLD=
CIRCUIT_COOLDOWN_SECONDS=3


QDRANT_URL=
QDRANT_COLLECTION=

EMBEDDING_PROVIDER=
GEMINI_EMBEDDING_MODEL=
GEMINI_EMBEDDING_DIM=


RAG_TOP_K=
RAG_SCORE_THRESHOLD=
RAG_MAX_CONTEXT_CHARS=

RAG_CANDIDATES=
RAG_RRF_K=

RAG_RERANKER=
RAG_CONFIDENCE_HIGH=
RAG_SUPPORT_FLOOR=

RAG_MAX_CHUNKS_PER_DOCUMENT=

CHAT_MAX_MESSAGE_CHARS=
CHAT_HISTORY_TURNS=
CHAT_CONVERSATION_TTL_SECONDS=
LLM_MAX_OUTPUT_TOKENS=
LLM_TIMEOUT_SECONDS=
EMBEDDING_TIMEOUT_SECONDS=

RATE_LIMIT_PER_MINUTE=
RATE_LIMIT_PER_DAY=


CORS_ALLOW_ORIGINS=
TRUST_PROXY_HEADERS=

LOG_LEVEL=

ENVIRONMENT=
REDIS_URL=
